/* google font: Raleway */
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.body-background{
    background-color: #F5F8FF;
}
/* shared styles */
.btn-all{
    color: #FFFFFF;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    padding: 12px 36px;
    cursor: pointer;
    transition: all 0.8s ease;
}
.btn-all:hover {
    background-color: #FFFFFF;
    color: #4E47FF;
    border: 1px solid #4E47FF;
}
.primary-color{
    color: #4E47FF;
}
/* header section */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 150px;
}
nav h1{
    font-size: 34px;
    font-weight: 900;
}
.header-content{
    max-width: 950px;
    text-align: center;
    padding: 150px 267.5px 150px 267.5px;
    /* border: 1px solid tomato; */
}
.header-content h1{
    font-size: 60px;
    font-weight: 700;
    color: rgba(37, 36, 50, 1);
}
.header-background{
    background-image: url(../assets/Hero-bg.png);
    /* background-repeat: no-repeat; */
    /* border: 1px solid tomato; */
}
/* action section */
.action-banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 116px 141px;
    /* border: 1px solid tomato; */
}
.action-content{
    max-width: 517px;
}
.action-content h1{
    font-size: 42px;
    font-weight: 700;
    color: rgba(37, 36, 50, 1);
    margin-bottom: 23px;
}
.action-content p{
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
    margin-bottom: 23px;
}
.action-image{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}
/* user data section*/
.user-data{
    max-width: 1140px;
    height: 306px;
    margin: 116px 141px;
    background-color: rgba(78, 71, 255, 0.17);
    border-radius: 24px;
    /* border: 1px solid tomato; */
}
.user-data h1{
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    color: rgba(37, 36, 50, 1);
    padding-top: 30px;
    /* border: 1px solid tomato; */
}
.user-data-container{
    display: flex;
    justify-content: center;
    gap: 180px;
    /* border: 1px solid tomato; */
}
.user-data-item h3{
    font-size: 80px;
    font-weight: 700;
    margin: 0 auto;
}
.user-data-item p{
    color:rgba(0, 0, 0, 0.5);
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
    margin-top: -5px;
}
/* focus section */
.focus{
    max-width: 1140px;
    margin: 116px 141px;
    /* border: 1px solid tomato; */
}
.focus-content{
    text-align: center;
    margin-bottom: 20px;
}
.focus-content h1{
    margin-top: 0px;
    font-size: 50px;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
}
.focus-content p{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 0px;
}
.focus-image img{
    width: 840px;
    height: 345px;
    border-radius: 48px;
    display: block;
    margin: 0 auto;
}
/* user feedback section */
.user-feedback{
    max-width: 1140px;
    margin: 116px 141px;
    /* border: 1px solid tomato; */
}
.user-feedback h1{
    font-size: 42px;
    font-weight: 700;
    color: rgba(37, 36, 50, 1);
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;
}
.user-feedback-card{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.user-feedback-card-content{
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
    border-radius: 14px;
    padding: 24px;
    /* border: 1px solid tomato; */
}
.card-title-description h4{
    color: rgba(30, 30, 30, 1);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 15px;
}
.card-title-description p{
    color: rgba(30, 30, 30, 1);
    font-size: 16px;
    margin-top: 0px;
}
.card-user{
    display: flex;
    align-items: center;
    margin-top: -20px;
}
.card-user img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding-right: 12px;
}
.card-user-content h4{
    color: rgba(117, 117, 117, 1);
    font-size: 15px;
    font-weight: 600;
    margin-bottom: -15px;
}
.card-user-content p{
    color: rgba(179, 179, 179, 1);
    font-size: 14px;
}
/* contact section */
.contact{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1140px;
    margin: 116px 141px;
    /* border: 1px solid tomato; */
}
.contact h1{
    color: #000000;
    font-size: 97px;
    font-weight: 700;
    padding-right: 70px;
}
.contact-form{
    width: 700px;
}
.contact-form label{
    color: #000000;
    font-size: 18px;
    font-weight: 600;
}
.contact-form input{
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 98%;
    padding: 12px 4px;
    border-radius: 10px;
    border: 1px solid rgba(214, 221, 237, 1);
}
.contact-form input::placeholder{
    padding: 20px;
}
.contact-form textarea{
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    width: 91%;
    margin-top: 5px;
    border-radius: 10px;
    border: 1px solid rgba(214, 221, 237, 1);
}
#message{
    padding: 20px;
}
.submit-button{
    width: 100%;
    padding: 19px 101px;
    margin-top: 5px;
}
/* footer section */
footer{
    text-align: center;
    margin-bottom: 50px;
    /* border: 1px solid tomato; */
}
footer h1{
    font-size: 100px;
    font-weight: 900;
    margin-top: 0px;
}
footer p{
    font-size: 16px;
    color: rgba(137, 135, 161, 1);
    margin-top: -70px;
}
footer ul li{
    list-style: none;
    display: inline;
}
footer li a{
    text-decoration: none;
    font-size: 16px;
    color: rgba(137, 135, 161, 1);
    margin-right: 48px;
}
